* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f8f8f8;
}

.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
}

.todo-container > header {
  width: 100%;
  padding: 0 20px;
}

.todo-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid red;
}

.todo-container main {
  width: 100%;
  padding: 0 20px;
}

#todo-list {
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

#todo-list li {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 10px 0;
  border-bottom: 1px solid red;
}

.todo-complete-checkbox {
  cursor: pointer;
}
.todo-content {
  width: 100%; 
  margin: 0;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.todo-content.completed {
  text-decoration: line-through;
}

#todo-create {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#todo-create textarea {
  width: 100%;
}

#todo-create button {
  cursor: pointer;
}
